body{
    background-color: aqua;
}
h1{
    text-align: center;
}
.container{
    background-color: rgb(236, 231, 241);
    margin-left: 100px;
    margin-right: 200px;
    float: left;
    text-align: center;
    height: 250px;
    width: 250px;
}